.image-view {
    display: flex;
    justify-content: center;
    #image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.list-view {
    .active {
        background: cyan;
    }
    .icon {
        &.image {
            color: #1BA466;
        }
        &.arch {
            color: #4B75B9;
        }
        &.dir {
            color: #E06A3B;
        }
    }
}